body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #f8f8f8;
}

/* Top pink gradient */
.header {
  width: 100%;
  height: 60px;
  background: linear-gradient(to right, #f8c9c9, #ffffff);
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 40px;
  gap: 40px;
}


/* Happy Birthday text */
.message {
  font-family: "Arial", sans-serif;
  font-size: 24px;
  color: #333;
  text-align: center;
  margin: 0; /* reset margins */
  margin-right: 800px;
  margin-top: 24px;
}

.message h3 {
  margin: 16; /* keep it tight with sub-message */
}

.sub-message {
  font-family: "Arial", sans-serif;
  font-size: 16px;
  color: #555;
  margin: 10px 0 0; /* small spacing below heading */
  text-align: center;
}

/* Image frame */
.frame {
  width: 550px;
  height: 450px;
  background-color: #ddd;
  border: 2px solid #ccc;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  margin-top: 24px;
  margin-left: 1050px; /* adjust value as needed */
}


.frame img {
  width: 300%;
  height: 100%;
  object-fit: cover;
}